* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 150px; /* Anpassung der Größe für bessere Ansicht */
    height: auto;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coins h2 {
    font-size: 1.5em; /* Größere Schrift für bessere Lesbarkeit */
    margin: 20px 0;
}

.character {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

footer button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 0.9em;
}
