header {
    background-color: #222; /* Dunkler für besseren Kontrast */
    padding: 15px 0; /* Mehr vertikaler Raum */
    text-align: center;
}

.logo {
    max-width: 100%; /* Stellt sicher, dass das Logo niemals über den Bildschirmrand hinausgeht */
    height: auto;
    width: 180px; /* Eventuell anpassen, je nach Bedarf */
}

.character-section img {
    width: 120px;
    height: 120px;
    border-radius: 60px; /* Kreisförmig */
    object-fit: cover; /* Sorgt dafür, dass das Bild den Container vollständig ausfüllt */
    border: 3px solid white; /* Weißer Rand */
}

footer button {
    flex-grow: 1; /* Buttons nehmen verfügbaren Raum gleichmäßig ein */
    margin: 0 4px; /* Abstand zwischen den Buttons */
    padding: 12px 0; /* Größere Klickfläche */
}

@media (max-width: 600px) {
    .actions, footer {
        flex-direction: column; /* Stapelt Buttons untereinander auf kleineren Bildschirmen */
    }

    .action button, footer button {
        width: 100%; /* Volle Breite für bessere Erreichbarkeit */
        margin-bottom: 8px; /* Abstand zwischen gestapelten Buttons */
    }
}
